<!DOCTYPE html>
<html>
  <head>
    <title>React Redux Diy</title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <h1>React Redux Diy</h1>
    <div id="container"></div>
    <script src="/js/build/bundle.js"></script>
  </body>
</html>
